---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: mongo-shop-deployment
    labels:
        app: onlineshop
        name: mongo-shop-deployment
spec:
    template:
        metadata:
            name: mongo-shop-pod
            labels:
                app: onlineshop
                name: mongo-shop-pod
        spec:
            containers:
                - name: mongodb-shop
                  image: mongo:latest
                  ports:
                    - containerPort: 27017
    replicas: 1
    selector:
        matchLabels:
            app: onlineshop
            name: mongo-shop-pod

---
apiVersion: v1
kind: Service
metadata:
    name: mongodb-shop
    labels:
        app: onlineshop
        name: mongodb-shop
spec:
    type: ClusterIP
    ports:
        - targetPort: 27017
          port: 27017
    selector:
        app: onlineshop
        name: mongo-shop-pod